body
  width: 100%
  max-width: 100%
  overflow-x: hidden
  font-family: "Poppins",Helvetica,Arial,sans-serif

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center  

.span
  background-color: rgba(55, 125, 255, 0.2)
  color: #377dff
  padding: 0.4375rem 0.9375rem  
  border-radius: 2em
  font-size: .6875rem
  font-weight: 600
  letter-spacing: 1px  
  margin-bottom: 5px
  
.sectionOne
  padding: 5em
  width: 80%  
  display: flex
  justify-content: center
  align-items: center
  line-height: 1.5

.information
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start  

  &>h1
    font-size: 2.5rem
    margin-bottom: 0.5rem
    line-height: 1.5
    font-weight: 600
    color: black

  &>p
    color: #77838f
    line-height: 1.7
    letter-spacing: 1px
    margin-top: 0
    margin-bottom: 1rem
    margin: 0 0 10px
    font-size: 1rem

  &>div  
   text-decoration: none
   color: white
   background-color: #377dff
   border-radius: 2em
   padding: 0.75rem 2rem
   font-size: 1rem
   line-height: 1.5
   margin-top: 15px
   &:hover
    transform: translateY(-3px) 
    box-shadow: -1px 5px 24px 0px rgba(169,193,237,1)
    transition: all 0.2s ease-in-out
    cursor: pointer

.modal
  width: 640px
  height: 360px
  margin: 0 auto
  margin-top: 11em

.btn
  margin-left: 10px   

.image
  height: 80%
  width: 80%  

.sectionTwo
  width: 80%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.h2
  font-size: 2rem
  margin: 0.5em 0 1em 0
  color: black
  
p 
  color: #77838f  
  letter-spacing: 1px 

.line
  width: 100%
  height: 0
  border-top: 1px solid #e7eaf3